header {
  text-align: center;
}

h2 {
  font-size: 50px;
  border: solid black 5px;
  background-color: rgb(255, 196, 0);
  padding: 10px;
  margin: 50px 25px 50px 25px;
}

h3 {
  font-size: 30px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  color: rgb(10, 10, 82);
}

p {
  padding: 10px;
  margin: 5px 5px 5px 5px;
  font-size: 25px;
}

li {
  font-size: 20px;
}

ul {
  display: block;
  list-style: disc;
  list-style-position: inside;
  margin: 1em 0;
  padding: 0 0 0 40px;
}

ol {
  display: block;
  list-style: decimal;
  margin: 1em 0;
  padding: 0 0 0 40px;
}

#bio {
  width: auto;
}

#topTen {
  width: 400px;
  height: 300px;
}

section {
  border: 50px solid rgb(21, 68, 221);
  background-color: rgb(24, 224, 131);
  width: auto;
  margin: auto;
  margin-top: 50px;
  height: 300px;
  padding: 20px;
  border-radius: 50px;
}
section:hover{
  background-color: red;
}
footer {
  margin: auto;
  margin-top: 400px;
}

div section {
  display: inline-block;
  left: 50x;
  margin: 40px;
  width: 400px;
  height: 250px;
}